

.section{
  height: 100vh;


display: flex;

justify-content: center;

color: white;
}

.container{
  /* height: 100vh; */
  scroll-snap-align: center;
  width: 1600px;
 
  display: flex;
  justify-content: space-between;
 
    
  
}


.right{
flex: 2;
display: flex;
flex-direction: column;
justify-content: space-around;
/* padding-left: 20px; */
margin-left: 20px;


}

.title{
  font-size: 60px;
  text-align: center;
  margin-bottom: 40px;

}
.subtitle{
  font-size: 60px;
}
.left{
  flex: 1;
 
  display: flex;
flex-direction: column;
justify-content: center;
/* gap: 10px; */
}


.description{
  margin-bottom:20px ;
}


.btn{
  padding: 10px;
  width: 100px;
  border: none;
  border-radius: 5px;
  background-color: #FF75A0;
  color: white;
  cursor:pointer;
  margin: 0 auto;
  /* font-size: 120px; */
}

.services{
  display: flex;
  justify-content: space-around;
}
.skillsInner{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}

.heading{
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.about{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.serviceList{
  
list-style: none;
font-size: 30px;
line-height: 95px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;

}

.serviceListItem{
  display: flex;
  justify-content: center;
  align-items: center;
 
  
 
  
}
.serviceListItem img{
margin-right: 10px;
}
@media only screen and (max-width:768px){
  .left{
    display: none;
  }
  .right{
    align-items: center;
    text-align: center;
    padding: 0px 10px;
    
  }

  .title h2{
    font-size: 50px;
    margin-bottom: 40px;
  }
}



