.section{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
    /* scroll-snap-align: center; */
  }
  
  .container{
  width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.heading{
  font-size: 50px;
}

.projects{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  gap: 20px;
  /* margin-bottom: 100px; */
}

.images{
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: black;
  cursor: pointer;
  position: relative;
  border-radius: 0.8rem;
  overflow: hidden;
}
 .images img {
  width: 85%;
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 20%;

  transition: 0.25s all;

  border-radius: 0.4rem;
}

.skillsContainer{
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}
.iconContainer{
  width: 100px;
  padding: 10px;
  margin: 10px;
  /* height: 50px; */
  text-align: center;
}
.icons{
  width: 90px;
  height: 90px;
  
}
@media only screen and (max-width:768px){
  .container{
    width: 100%;
    flex-direction: column;
  }
  .left{
    padding: 20px;
    justify-content: center;
  }
  .item{
    font-size: 25px;
    color: white;
    -webkit-text-stroke: 0px;
  }
}







/* .left{
  flex: 1;
  display: flex;
  align-items: center;
  
  
}
.list{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item{
  font-size: 60px;
  color: transparent;
  -webkit-text-stroke: 1px white;
  font-weight: bolder;
  cursor: pointer;
  position: relative;
}

.item::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: chocolate;
  width: 0;


}
.item:hover:after{

  animation: textTransform 0.5s linear;
  @keyframes textTransform{
   100%{
    width:100%;
   }
  }

  }

.right{
flex: 2;
margin-left: 40px;
position: relative;


} */
/* .section{
  height: 100vh;
  position: relative;
  max-width: 1150px;
  margin: auto;
  padding: 50px;
  scroll-snap-align: center;
} */
