.hero{
  height: 100vh;

/* scroll-snap-align: center; */
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: column;
color: white;

 /* margin-top: 50px; */

}

.container{
  /* margin-top: 10px; */
  height: 100%;
  /* scroll-snap-align: center; */
  /* width: 1600px; */
  display: flex;
  justify-content: space-between;
  
  padding: 20px 5.8vw;
 
}


.left{
flex: 2;
display: flex;
flex-direction: column;
justify-content: center;
gap: 25px;
margin-left: 50px;




}

.title{
  font-size: 60px;
  margin-bottom: 0px;
  
  

}
.subtitle{
  font-size: 50px;
  margin-bottom: 0px;
}
.description{
  font-size: 20px;
}
.right{
  display: flex;
  flex: 3;
  position: relative;
  flex-wrap: wrap;
  margin-top: 15px;
  
}



.heroImage{
  width: 600px;
  height: 400px;
  border-radius: 50%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: animate 2s infinite ease alternate;
}

@keyframes animate{
  100%{
    transform: translateY(20px);

  }
}

.btn{
  padding: 10px;
  /* margin: auto ; */
  /* width: 100px !important;  */
  width: 30%;
  border: none;
  border-radius: 5px;
  background-color: #0C1A1A;
  color: white;
  cursor:pointer;
}

@media only screen and (max-width:1185px){
  .title, .subtitle{
    font-size: 40px;
  }
  .description{
    font-size: 20px;
  }
  .left{
    flex: 1;
  }
  /* .right{
    flex: 3;
  } */
}

@media only screen and (max-width:768px){
.hero{
  /* padding-top: 20px; */
  
  
  height: 120vh;
}
.container{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  

}
.lotty{
  width: 70%;
  align-items: center;
  margin-left: 150px;
}
.right{
  /* flex: 1; */
  /* width: 100%; */
  /* width: 100%;
  height: 100%; */
}
.left{
  flex: 1;
  align-items: center;
  gap: 5px;
}
.title ,.subtitle{
  text-align: center;
  margin: 20px 10px;
}
.description{
  padding: 10px;
  text-align: center;
}
.heroImage{
  width: 300px;
  height: 200px;
}
}