.navbar{
  background-color: #060b26;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  /* width: 100%; */

}

.menu-bars{
  margin-left:16px ;
  font-size: 30px;
  background: none;
}