.section-about{
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;



}

.container{
  height: 100%;
  width: 100%;
  
  
}

/* .container{
  padding: 0 4.7vw;
 
height: 100%;
display: grid;
grid-template-columns: 1fr 2fr 1fr;
grid-template-rows: 1fr 2fr 1fr;
color: white;

}
.grid-item-2{
  font-size: 60px;
text-align: center;
  
}

.grid-item-5{
display: flex;
justify-content: center;
align-items: center;
}

.grid-item-5{
  text-align: center;
  padding: 0 20px;
} */