.timeline{
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
  box-sizing: border-box;
  /* height: 100vh; */
}

.container{
padding: 10px 50px;
position: relative;
width: 50%;

/* border-radius: 5px; */
}

.text{
  padding: 20px 30px;
  background: #fff;
  border-radius: 6px;
  position: relative;
  font-size: 15px;
}

.left{
left: 0;
}

.right{
left: 50%;
}

.icon{
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 32px;
  z-index: 10;
}

.right img{
  left: -20px;
}

.timeline::after{
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #fff;
  top: 0;
  left: 50%;
  margin-left: -3px;
}


.text h4{
  font-weight: 600;
}

.text small{
display: inline-block;
}

.leftIcon{
height: 0;
width: 0;
position: absolute;
top: 28px;
z-index: 1;
border-top: 15px solid transparent;
border-bottom: 15px solid transparent;
border-left: 15px solid white;
right: -15px;

}

.rightIcon{
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid white;
  left: -15px;
}