.timeline{
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
  /* height: 100vh; */
}

.container{
padding: 10px 50px;
position: relative;
width: 50%;
background: rgba(0,0,0,0.3);
/* border-radius: 5px; */
}

.text{
  padding: 20px 30px;
  background: #fff;
  border-radius: 6px;
  font-size: 15px;
}