.section{
  display: flex;
  justify-content: center;
  height: 100vh;
  
    scroll-snap-align: center;
}

.container{
  width: 1400px;
  display: flex;
  justify-content: space-between;
  
}

.left{
  flex: 1;
  display: flex;
  align-items: center;
  
  
}
.list{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item{
  font-size: 60px;
  color: transparent;
  -webkit-text-stroke: 1px white;
  font-weight: bolder;
  cursor: pointer;
  position: relative;
}

.item::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: chocolate;
  width: 0;


}
.item:hover:after{

  animation: textTransform 0.5s linear;
  @keyframes textTransform{
   100%{
    width:100%;
   }
  }

  }

.right{
flex: 2;
margin-left: 40px;
position: relative;
/* background-color: brown; */

}


@media only screen and (max-width:768px){
  .container{
    width: 100%;
    flex-direction: column;
  }
  .left{
    padding: 20px;
    justify-content: center;
  }
  .item{
    font-size: 25px;
    color: white;
    -webkit-text-stroke: 0px;
  }
}