.hero{
  height: 100vh;

scroll-snap-align: center;
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: column;
color: white;
}

.container{
  height: 100vh;
  scroll-snap-align: center;
  width: 1500px;
  display: flex;
  justify-content: space-between;
}


.left{
flex: 2;
}

.right{
  flex: 3;
}

.image img{
  height: 400px;
  border-radius: 50%;
}